* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	font-family: 'PT Sans Narrow', sans-serif;
}
body {
	width: 100%;
}
header {
	width: 100%;
	height: 60vh;
	background-image: url(assets/bg-header.jpeg);
	background-image: no-repeat;
	background-size: cover;
	display: inline-flex;
}
a {
	color: #000;
	padding: 7px;
	position: relative;
	left: 150%;
}
.containerNav {
	width: 50%;
	height: 6.5vh;
	background-color: transparent;
	position: fixed;
}
.logo {
	width: 35px;
	height: 35px;
	position: relative;
	left: 10px;
}
.containerOne {
	width: 80%;
	height: 70vh;
	position: relative;
	left: 10%;
}
.monster-one {
	width:380px;
  	height:420px;
  	display: inline-flex;
}
.monstrinho {
  width: 145px;
  height: 114px;
  background: #48D1CC;
  border-radius: 10px;
  position: absolute;
  left: 12%;
  top: 12%;
  border: 6px solid #40E0D0;
}
.eye-esquerdo,
.eye-direito {
  position: absolute;
  width: 27px;
  height: 27px;
  background: #fff;
  border-radius: 0px;
}
.eye-esquerdo {
  left: 30px;
  top: 25px;
}
.eye-direito {
  right: 30px;
  top: 25px;
}
.bolinha1,
.bolinha2 {
  width: 15px;
  height: 15px;
  background:	#708090;
  border-radius: 0px;
  position: absolute;
  animation: pisca 2.0s infinite 
  alternate;
}
.bolinha1 {
  left:20px;
  top: 15px;
}
.bolinha2 {
  right: -2px;
  top: 15px;
}
.boca {
  position: absolute;
  width: 70px;
  height: 8px;
  left: 30px;
  top: 83px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  border: 3px solid #fff;
  box-sizing: border-box;
  background: #40E0D0;
}
.pescoco {
  width: 70px;
  height: 26px;
  left: 15.5%;
  top: 36%;
  background: #48D1CC;
  position: absolute;
  border: 2px solid #40E0D0;
}
.body {
  width: 184px;
  height: 160px;
  position: absolute;
  background: #48D1CC;
  left: 10%;
  top: 40%;
  border: 6px solid #40E0D0;
  border-radius: 10px;
}
.antena1,
.antena2 {
   width: 15px;
   height: 15px;
   position: absolute;
   background: gray;
}
.antena1 {
   left: 11%;
   top: 14%;
}
.antena2 {
   right: 73%;
   top: 14%;
}
.antena3,
.antena4 {
   width: 15px;
   height: 30px;
   position: absolute;
   background: gray;
   border-radius: 10px;
}
.antena3 {
   left: 10%;
   top: 11%;
}
.antena4 {
   right:72%;
   top: 11%;
}
.perna {
   width: 70px;
   height: 45px;
   position: absolute;
   background:#48D1CC;
   left: 15%;
   top: 73%;
 }
.pe {
   width: 160px;
   height: 45px;
   position: absolute;
   background: #48D1CC;
   border: 8px solid #40E0D0;
   border-radius: 10px;
   left: 11%;
   top: 78%;
}
.monster-two {
	width:380px;
  	height:420px;
  	display: inline-flex;
}
.body_mike {
  width: 220px;
  height: 240px;
  background: #9ACD32;
  border-radius: 100%;
  position: absolute;
  left: 60%;
  top: 30%;
}
.eye_medium {
  width: 120px;
  height:125px;
  background-color: #fff;
  border-radius: 100%;
  border: 5px solid #CDCD00;
  position: absolute;
  left: 65%;
  top: 32%;
}
.eye_small {
  width: 45px;
  height: 46px;
  background: #5F9EA0;
  border-radius: 90%;
  border: 2px solid #363636;
  position: absolute;
  left: 69%;
  top: 43%;
}
.iris {
  width: 28px;
  height: 30px;
  background: #000;
  position: absolute;
  left: 19%;
  top: 15%;
  border-radius: 100%;
  animation: pisca 8.0s infinite 
  alternate;
}
.lip {
  width: 70px;
  height: 8px;
  position: absolute;
  left: 15%;
  top: 260%;
  border-top-left-radius: 90%;
  border-top-right-radius: 90%;
  background: #ADFF2F;
}
@keyframes pisca {
  50% {
    transform: translateX(-10px)
  }
}
footer {
	width: 100%;
	height: 55vh;
	background-image: url(assets/bg-footer.jpeg);
	background-image: no-repeat;
}
.logo_footer {
	width: 130px;
	position: relative;
	top: 150px;
	left: 30px;
}
.containerLinks {
	width: 20%;
	position: relative;
	left: -5%;
	top: 50px;
}
.input-email {
	width: 160px;
	height: 4vh;
}
.newsletter {
	width: 25%;
	position: relative;
	left: 55%;
	padding: 5px;
}